@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.wrapper {
  position: relative;
}

.checkbox {
  display: none;
}

.switch {
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.switch::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.checkbox:checked + .switch {
  background-color: #2196F3;
}

.checkbox:checked + .switch::after {
  transform: translateX(20px);
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #333;
}

.wrapper {
  display: inline-block;
  margin-left: 10px;
}

.checkbox {
  display: none;
}

.switch {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}

.switch::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.checkbox:checked + .switch {
  background: rgb(207, 111, 73);
}

.checkbox:checked + .switch::after {
  transform: translateX(20px);
}

.dark-mode .switch {
  background-color: #333;
  color: white;
}

.dark-mode .switch::after {
  background-color: #777;
  color: white;
}

.light-mode .switch {
  background-color: #fff;
  border: 1px solid #ccc;
  color: white;
}

.light-mode .switch::after {
  background-color: #f1f1f1;
  color: white;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}

.responsive_header {
  display: none;
}

.main_imgs_mobilni {
  display: none;
}

@media screen and (max-width: 999px) {
  .responsive_header {
    display: inline;
  }
  header {
    display: none;
  }
  .main_imgs_mobilni {
    display: inline;
    display: flex;
    justify-content: center;
  }
  .main_imgs {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .responsive_header {
    display: inline;
  }
  header {
    display: none;
  }
  .main_imgs_mobilni {
    display: inline;
    display: flex;
    justify-content: center;
    width: 420px;
    height: 384px;
  }
  .main_imgs {
    display: none;
  }
  .main_logo_two {
    margin-right: 0 auto;
  }
}
@media screen and (max-width: 999px) {
  .card_section_big {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .there_wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .four_wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  .main_olti_text_content p {
    color: rgb(231, 232, 227);
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    max-width: 456px;
    margin: 0 auto;
    margin-top: 29px;
  }
  .flex_elment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
  .footer_text_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer_text_content {
    gap: 25px;
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .footer_text_content_wraper p {
    color: rgb(101, 102, 92);
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 510px;
    margin-top: 29px;
  }
  .footer_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .justify_content {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .imgs_container {
    display: flex;
    flex-wrap: wrap;
  }
  .imgs_container img {
    width: calc(20% - 10px);
    margin: 5px;
  }
  .card_section_big {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card_section p {
    margin-right: 0 auto;
    max-width: 455px;
  }
  .main_text {
    align-items: center;
    margin: 0 auto;
    max-width: 400px;
  }
  .main_text h1 {
    max-width: 450px;
    color: rgb(42, 44, 31);
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 300;
    line-height: 57.2px;
    letter-spacing: 0%;
    text-align: left;
  }
  .main_text p {
    max-width: 400px;
    color: rgb(101, 102, 92);
    font-family: "Roboto";
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
  }
  .there_wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .four_wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  .location_section p {
    color: rgb(101, 102, 92);
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    max-width: 413px;
    margin: 0 auto;
    margin-top: 25px;
  }
  .main_olti_text_content p {
    color: rgb(231, 232, 227);
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    max-width: 456px;
    margin: 0 auto;
    margin-top: 29px;
  }
  button {
    box-sizing: border-box;
    border: 1px solid rgb(207, 111, 73);
    border-radius: 6px;
    background: rgb(207, 111, 73);
  }
  button {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    padding: 13px 25px;
  }
  .flex_elment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
}
@media screen and (max-width: 500px) {
  .main_logo img {
    display: none;
  }
  .main_text h1 {
    max-width: 450px;
    color: rgb(42, 44, 31);
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 300;
    line-height: 57.2px;
    letter-spacing: 0%;
    text-align: left;
  }
  .main_text p {
    max-width: 400px;
    color: rgb(101, 102, 92);
    font-family: "Roboto";
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
  }
  .main_text {
    align-items: center;
    margin: 0 auto;
    max-width: 400px;
  }
  .btn_serch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .main_imgs_mobilni {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .main_imgs_mobilni img {
    width: 400px;
    height: 400px;
  }
  .main_logo_two img {
    display: none;
  }
  .imgs_room img {
    width: 400px;
    height: 400px;
  }
  .main_sectin_there_text {
    align-items: center;
    max-width: 400px;
  }
  .main_sectin_there_text p {
    max-width: 400px;
  }
  .four_text_container {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    align-items: center;
    justify-content: center;
  }
  .four_text_container h1 {
    align-items: center;
    max-width: 385px;
  }
  .four_text_container p {
    max-width: 300px;
    align-items: center;
  }
  .four_cards_secction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer_text_content_wraper p {
    max-width: 350px;
  }
  .justify_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 400px) {
  .main_imgs_mobilni img {
    width: 300px;
    height: 300px;
  }
  .card_section p {
    max-width: 300px;
  }
  .border_crad {
    max-width: 305px;
  }
  .card_text_section h1 {
    color: rgb(42, 44, 31);
    font-family: "Roboto";
    text-align: center;
    margin: 0 auto;
  }
  .card_text_section p {
    color: rgb(101, 102, 92);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    max-width: 238px;
  }
  .card_text_section {
    padding: 0px;
  }
  .main_sectin_there_text {
    max-width: 300px;
  }
  .main_sectin_there_text h1 {
    font-size: 18px;
    max-width: 250px;
  }
  .main_sectin_there_text p {
    font-size: 18px;
    max-width: 280px;
  }
  .main_sectin_there_btn_wraper p img {
    display: none;
  }
  .imgs_room {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .imgs_room .rOOm_one {
    display: none;
  }
  .hamasini_Orapturadigan {
    max-width: 300px;
  }
  .hamasini_Orapturadigan .rasmni_orapturadigan img {
    width: 300px;
    height: 300px;
  }
  .location_section p {
    max-width: 300px;
  }
  .main_olti_text_content p {
    max-width: 300px;
  }
  .Hamasini_orapturuvchhi_ota_element {
    max-width: 300px;
  }
  .Hamasini_orapturuvchhi_ota_element .rasm_orapturuvchi img {
    width: 300px;
    height: 300px;
  }
  .text_orapturuvchi_sectino p {
    max-width: 240px;
  }
}
.sbx-custom {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 51px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 14px;
}
.sbx-custom__wrapper {
  width: 100%;
  height: 100%;
}
.sbx-custom__input {
  display: inline-block;
  transition: box-shadow 0.4s ease, background 0.4s ease;
  border: 0;
  border-radius: 26px;
  box-shadow: inset 0 0 0 2px #cccccc;
  background: #ffffff;
  padding: 0;
  padding-right: 41px;
  padding-left: 51px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.sbx-custom__input::-webkit-search-decoration, .sbx-custom__input::-webkit-search-cancel-button, .sbx-custom__input::-webkit-search-results-button, .sbx-custom__input::-webkit-search-results-decoration {
  display: none;
}
.sbx-custom__input:hover {
  box-shadow: inset 0 0 0 2px #b3b3b3;
}
.sbx-custom__input:focus, .sbx-custom__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 2px #ff2e83;
  background: #ffffff;
}
.sbx-custom__input::-moz-placeholder {
  color: #bbbbbb;
}
.sbx-custom__input::placeholder {
  color: #bbbbbb;
}
.sbx-custom__submit {
  position: absolute;
  top: 0;
  right: inherit;
  left: 0;
  margin: 0;
  border: 0;
  border-radius: 25px 0 0 25px;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  width: 51px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sbx-custom__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.sbx-custom__submit:hover, .sbx-custom__submit:active {
  cursor: pointer;
}
.sbx-custom__submit:focus {
  outline: 0;
}
.sbx-custom__submit svg {
  width: 31px;
  height: 31px;
  vertical-align: middle;
  fill: #ff2e83;
}
.sbx-custom__reset {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  fill: rgba(0, 0, 0, 0.5);
}
.sbx-custom__reset:focus {
  outline: 0;
}
.sbx-custom__reset svg {
  display: block;
  margin: 4px;
  width: 19px;
  height: 19px;
}
.sbx-custom__input:valid ~ .sbx-custom__reset {
  display: block;
  animation-name: sbx-reset-in;
  animation-duration: 0.15s;
}
@keyframes sbx-reset-in {
  0% {
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.sbx-custom__input {
  box-sizing: border-box;
  border: 1px solid rgb(231, 232, 227);
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
  color: rgb(101, 102, 92);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", "san-serif";
}

.small_header {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  background: rgb(147, 152, 120);
}

.small_header p {
  padding-top: 10px;
  padding-bottom: 9px;
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}

.Big_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Big_header ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 32px;
}

.Big_header ul li {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.Big_header ul li:hover {
  color: orange;
}

.Big_header ul li:active {
  color: rgb(167, 114, 8);
}

.search_wraper {
  display: flex;
  align-items: center;
}

.button_wraper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button_wraper .cart_btn {
  box-sizing: border-box;
  border: 1px solid rgb(231, 232, 227);
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
}

.cart_btn {
  padding: 6px 21px;
  color: rgb(42, 44, 31);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.cart_btn:hover {
  background-color: #cf6f49;
}

.cart_btn:active {
  background-color: #e45821;
}

.property_btn {
  padding: 6px 21px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(207, 111, 73);
  border-radius: 6px;
  background: rgb(207, 111, 73);
}

.property_btn:hover {
  background: rgb(207, 96, 52);
}

.property_btn:active {
  background-color: #e45821;
}

.Big_header {
  padding: 16px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
}

.bg_main {
  background: rgba(231, 232, 227, 0.11);
}

.rektangl_one {
  margin-top: 14px;
  width: 171px;
  border-radius: 32px;
  background: rgb(231, 232, 227);
  margin-top: 160px;
}

.rektangl_one p {
  color: rgb(42, 44, 31);
  font-family: " Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  padding: 4px 12px;
}

.main_text {
  margin-top: 25px;
}

.main_text h1 {
  width: 516px;
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 56px;
  font-weight: 400;
  line-height: 67.2px;
  letter-spacing: 0%;
  text-align: left;
}

.main_text p {
  width: 503px;
  color: rgb(101, 102, 92);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 21px;
}

.btn_serch {
  box-sizing: border-box;
  border: 1px solid rgb(207, 111, 73);
  border-radius: 6px;
  background: rgb(207, 111, 73);
  margin-left: 16px;
}

.btn_serch:hover {
  background: rgb(207, 96, 52);
}

.btn_serch:active {
  background-color: #e45821;
}

.btn_serch {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  padding: 9px 18px;
}

.main_logo_two {
  float: right;
  margin-top: 75px;
}

.bg_main_smal_wraper {
  display: flex;
}

.main_two_wraper_text {
  margin-top: 67px;
  display: flex;
  justify-content: center;
}

.main_two_wraper p {
  color: rgb(42, 44, 31);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  width: 243px;
}

.imgs_container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.imgs_container img {
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.imgs_container img:hover {
  transform: scale(1.3);
  filter: grayscale(10%);
}

.card_section {
  margin-top: 125px;
}

.card_section h1 {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: 0%;
  text-align: center;
}

.card_section p {
  width: 754px;
  color: rgb(101, 102, 92);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto;
}

.border_crad {
  width: 405px;
  box-sizing: border-box;
  border: 1px solid rgb(231, 232, 227);
  border-radius: 16px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
}

.card_text_section {
  padding: 24px 34px;
}

.card_text_section h1 {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  letter-spacing: 0%;
  text-align: center;
}

.card_text_section p {
  color: rgb(101, 102, 92);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  width: 338px;
}

.title {
  padding-left: 88px;
}

.card_section_imgs {
  padding-top: 49px;
  padding-left: 179px;
}

.card_section_big {
  margin-top: 61px;
  display: flex;
  gap: 32px;
}

.border_crad {
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.border_crad:hover {
  transform: scale(1.1);
  filter: grayscale(10%);
}

.main_section_there {
  margin-top: 128px;
}

.there_wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.rektangl_two {
  width: 125px;
  border-radius: 32px;
  background: rgb(231, 232, 227);
}

.rektangl_two p {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  padding: 4px 12px;
}

.main_sectin_there_text p {
  margin-top: 28px;
  color: rgb(101, 102, 92);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  width: 520px;
}

.main_sectin_there_text h1 {
  margin-top: 20px;
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: 0%;
  text-align: left;
  width: 453px;
}

.main_sectin_there_btn_wraper {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 21px;
}

.main_sectin_there_btn_wraper button {
  box-sizing: border-box;
  border: 1px solid rgb(231, 232, 227);
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding: 13px 25px;
}

.main_sectin_there_btn_wraper button:hover {
  background-color: #cf6f49;
}

.main_sectin_there_btn_wraper button:active {
  background-color: #e45821;
}

.main_sectin_there_btn_wraper p {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 15px;
  width: 110px;
}

.rektangle_there {
  border-radius: 32px;
  background: rgb(231, 232, 227);
  width: 127px;
}

.rektangle_there span {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  padding: 4px 12px;
}

.four_text_container h1 {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 21px;
}
.four_text_container p {
  color: rgb(101, 102, 92);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  width: 600px;
  margin-top: 29px;
}

.text_content h3 {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.text_content p {
  color: rgb(101, 102, 92);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  width: 245px;
  margin-top: 18px;
}

.four_cards_secction {
  display: flex;
  gap: 24px;
}

.four_wraper {
  margin-top: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.four_card_img_secction {
  margin-bottom: 16px;
}

.bg_color {
  background: rgb(245, 245, 242);
  margin-top: 128px;
}

.bg_color_img {
  float: right;
}

.rektangle_besh {
  margin: 0 auto;
  width: 92px;
  border-radius: 32px;
  background: rgb(231, 232, 227);
}
.rektangle_besh span {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  padding: 4px 12px;
}

.main_section_besh {
  padding-top: 132px;
}

.main_section_besh_text_content h1 {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 21px;
}

.Matin_orapturuvchi {
  padding-left: 24px;
}
.Matin_orapturuvchi h3 {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 24px;
}
.Matin_orapturuvchi b {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.Matin_orapturuvchi span {
  color: rgb(101, 102, 92);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.metka_img {
  margin-top: 16px;
  display: flex;
  gap: 10px;
  padding-left: 24px;
}

.card_footer_logo_section {
  display: flex;
  gap: 24px;
  margin-top: 16px;
  padding-left: 24px;
  padding-bottom: 24px;
}

.hamasini_Orapturadigan {
  width: 405px;
  border-radius: 12px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
}

.main_section_besh_card_wraper {
  margin-top: 82px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.hamasini_Orapturadigan {
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.hamasini_Orapturadigan:hover {
  transform: scale(1.1);
  filter: grayscale(10%);
}

.button_orapturuvchi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 25px;
}
.button_orapturuvchi button {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  box-sizing: border-box;
  padding: 12px 25px;
  border: 1px solid rgb(231, 232, 227);
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  background: rgb(207, 111, 73);
}
.button_orapturuvchi button:hover {
  background: rgb(207, 96, 52);
}
.button_orapturuvchi button:active {
  background-color: #e45821;
}
.button_orapturuvchi span {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.location_section h1 {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: 0%;
  text-align: center;
}
.location_section p {
  color: rgb(101, 102, 92);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  width: 713px;
  margin: 0 auto;
  margin-top: 25px;
}

.border_style {
  box-sizing: border-box;
  border: 1px solid rgb(231, 232, 227);
  border-radius: 16px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
  width: 419px;
}

.text_content_title {
  padding: 33px 33px;
}
.text_content_title h3 {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.text_content_title p {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.flex_beradigan_hamasini_orapturadigan {
  margin-top: 73px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.border_style {
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.border_style:hover {
  transform: scale(1.1);
  filter: grayscale(8%);
}

.bagraund_color {
  border-radius: 24px;
  background: rgb(101, 102, 92);
  margin-top: 128px;
}

.main_olti_text_content h1 {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 18px;
}
.main_olti_text_content p {
  color: rgb(231, 232, 227);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  width: 756px;
  margin: 0 auto;
  margin-top: 29px;
}
.main_olti_text_content button {
  box-sizing: border-box;
  border: 1px solid rgb(207, 111, 73);
  border-radius: 6px;
  background: rgb(207, 111, 73);
  margin-bottom: 96px;
}
.main_olti_text_content button {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding: 13px 25px;
}

.img_orapturuvchi_div {
  padding-top: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_olti_button_content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 21px;
}

.yetti_section {
  margin-top: 157px;
}
.yetti_section h1 {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: 0%;
  text-align: center;
}
.yetti_section p {
  color: rgb(101, 102, 92);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 26px;
}

.Hamasini_orapturuvchhi_element {
  width: 450px;
  box-sizing: border-box;
  border: 1px solid rgb(231, 232, 227);
  border-radius: 16px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
}

.text_content_yetti_section {
  padding-left: 33px;
}
.text_content_yetti_section p {
  width: 339px;
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 27px;
}

.strs_orapturuvchi {
  padding-left: 33px;
  padding-top: 32px;
}

.pople_section {
  padding: 33px;
  display: flex;
  align-items: center;
}

.flex_elment {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.Hamasini_orapturuvchhi_element {
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.Hamasini_orapturuvchhi_element:hover {
  transform: scale(1.1);
  filter: grayscale(10%);
}

.bg_color_end {
  background: rgb(245, 245, 242);
  margin-top: 160px;
}

.padding_item {
  padding-top: 128px;
}

.rektangl_end {
  width: 53px;
  border-radius: 32px;
  background: rgb(231, 232, 227);
}
.rektangl_end span {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  padding: 4px 12px;
}

.footer_text_content_wraper h1 {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 21px;
}
.footer_text_content_wraper p {
  color: rgb(101, 102, 92);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  width: 710px;
  margin-top: 29px;
}

.buton_orapturuvchi button {
  box-sizing: border-box;
  border: 1px solid rgb(231, 232, 227);
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
  padding: 13px 25px;
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.footer_text_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rektangl_end_end {
  height: 29px;
  border-radius: 32px;
  background: rgb(250, 232, 225);
}
.rektangl_end_end p {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  padding: 4px 8px;
}

.cardagi_bazi_elementalrni_orapturuvchi {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-top: 24px;
  gap: 16px;
}
.cardagi_bazi_elementalrni_orapturuvchi span {
  color: rgb(101, 102, 92);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}

.text_orapturuvchi_sectino {
  margin-top: 16px;
  padding-left: 24px;
}
.text_orapturuvchi_sectino h1 {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  letter-spacing: 0%;
  text-align: left;
}
.text_orapturuvchi_sectino p {
  color: rgb(101, 102, 92);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  width: 319px;
}

.read_more {
  padding-left: 24px;
  padding-bottom: 24px;
  margin-top: 31px;
}
.read_more span {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.Hamasini_orapturuvchhi_ota_element {
  width: 405px;
  margin-top: 77px;
  box-sizing: border-box;
  border: 1px solid rgb(231, 232, 227);
  border-radius: 16px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
}

.eigtsection_cart_flex_elemnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 33px;
  padding-bottom: 128px;
}

.Hamasini_orapturuvchhi_ota_element {
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.Hamasini_orapturuvchhi_ota_element:hover {
  transform: scale(1.1);
  filter: grayscale(10%);
}

.footer_link {
  width: 168px;
}
.footer_link p a {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
}
.footer_link p a:hover {
  color: #cf6f49;
}

.footer_flex {
  margin-top: 64px;
  display: flex;
  gap: 32px;
}

.justify_content {
  display: flex;
  justify-content: center;
}

.footer_serch_text_content h6 {
  color: rgb(42, 44, 31);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.footer_serch_text_content p {
  color: rgb(101, 102, 92);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

form input {
  box-sizing: border-box;
  border: 1px solid rgb(231, 232, 227);
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
  border: none;
}
form input {
  color: rgb(101, 102, 92);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding: 12px 14px;
}
form button {
  box-sizing: border-box;
  border: 1px solid rgb(207, 111, 73);
  border-radius: 6px;
  background: rgb(207, 111, 73);
  padding: 13px 28px;
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
form button:hover {
  background-color: #cf6f49;
}
form button:active {
  background-color: #e45821;
}

.main_olti_button_content button:hover {
  background-color: #cf6f49;
}
.main_olti_button_content button:active {
  background-color: #e45821;
}

.buton_orapturuvchi button:hover {
  background-color: #cf6f49;
}
.buton_orapturuvchi button:active {
  background-color: #e45821;
}

.footer_text_content_end {
  display: flex;
  align-items: center;
  margin-top: 16px;
  gap: 5px;
}
.footer_text_content_end p {
  color: rgb(101, 102, 92);
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_bg {
  background: rgb(245, 245, 242);
  margin-top: 64px;
}

.footer_end_text_content {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer_end_text_content p {
  color: rgb(101, 102, 92);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}

.flex_elemnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=style.css.map */